extends layout
script(src='/javascripts/test.js')

block content

  p Welcome #{username}

  a(href='/logout') Logout
  img.className#IdName(src='/images/data/men/shirts/men_shirt1.jpeg' alt="Image Title")
