body {

    background: linear-gradient(to right, #7F00FF , #E100FF);
    font-family: 'Playfair Display', serif;
    color: #3e403;
}

input{
    display: block;
    margin: 1vh;
    padding: 1vw;
    width: auto;
}
label{
  font-size: 15px;
  padding: 10px;
}
form {

    border-radius: 5px;
    margin: 2% auto;
    background-color: white;
    padding: 2%;


}
.error{
  position: absolute;
  top:11vw;
  left: 40vw;
  font-size: 18px;
  color:red;
}


#signup-div{
  position: absolute;
  top:3vh;
  right: 5vw;
  display: inline;
}



#login-div{
  position: absolute;
  top:35vh;
  left: 35vw;
  width:20%;
}
#login-div input{
  width:80%;
}

p{
  font-size: 20px;
  color: red;
  position: absolute;
  top:40%;
  left: 40%;
}
